@use '../abstracts/variables';

.section {
	min-height: 100vh;
	position: relative;

	&::before {
		content: "";
		position: fixed;
		inset: 0 0 0 0;
		z-index: 1;

		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
	}

	@keyframes darken {
		to {
			background-color: rgba(0, 0, 0, 0.5);
		}
	}

	&.zed-bg {
		background: url($zedBg) 0 0 / cover no-repeat;
		background-blend-mode: darken;
		animation: darken 5s infinite alternate;

		&::before {
			background-color: $zedOverlayColor;
		}
	}

	&__content {
		position: relative;
		z-index: 5;
	}

	/* Section - Sidebar */
	&__sidebar {
		position: fixed;
		inset: 0 0 0 0;
		z-index: 100;

		width: $sidebarWidth;
		height: 100%;
		overflow: hidden auto;

		padding-top: 2.5%;
		padding-right: 5%;
		background-color: $sidebarBgColor;
		backdrop-filter: blur(5px);

		&__logo {
			width: 70%;
			margin-left: 25%;
		}

		&__content {
			position: relative;
			left: $sidebarContentLeft;
		}

		&__headline {
			margin: 2rem 0;

			&__text {
				position: relative;
				color: $primary-text-600;
				font-size: 0.9em;
				text-transform: uppercase;
				padding-right: 5%;

				&::before {
					content: "";
					position: absolute;
					top: 50%;
					right: -65%;
					transform: translateY(-50%);

					width: 65%;
					height: 0.15em;
					background-color: rgba($primary-text-600, 0.5);
				}
			}
		}

		&__vertical-slider {
			&__item {
				margin-bottom: 10%;
				cursor: pointer;
			}
		}
	}

	/* Section - Main content */
	&__main-content {
		display: flex;
		flex-direction: column;
		align-items: flex-end;

		width: #{100% - $sidebarWidth};
		min-height: 100vh;

		margin-left: $sidebarWidth;
		padding: 0 5%;

		&__text {
			max-width: 45ch;
			text-align: right;
		}

		&__title {
			margin-top: 5%;
		}

		&__desc {
			margin: 1em 0 1em auto;
			max-width: 60%;
		}

		&__list {
			list-style: none;

			&__item {
				display: inline-block;
				padding: 0.5em;
				margin-left: 2em;

				background-color: $primary-100;
				color: $primary-text-800;
				font-size: $smallFontSize;
				text-transform: uppercase;
				border-radius: 5px;

				&:first-of-type {
					margin-left: 0;
				}
			}
		}

		&__video {
			width: 80%;
			max-width: 70ch;
			height: auto;
			aspect-ratio: 16 / 9;

			margin: 2em 0;
			border: 1px solid rgba($primary, 0.1);
			border-radius: 10px;
		}

		&__skills {
			&,
			&__title {
				max-width: 80%;
				margin-left: auto;
			}

			&__title {
				text-align: right;
				margin-bottom: 0.5em;
			}

			&__content {
				display: flex;
				align-items: flex-start;
				justify-content: flex-start;
				flex-wrap: wrap;

				width: 100%;
				max-width: 60ch;
			}

			&__item {
				position: relative;
				width: 3em;
				height: 3em;

				margin-right: #{0.5em + 3em};
				margin-bottom: 1em;
				object-fit: contain;
				border: 1px solid rgba($primary-text, 0.35);

				&:not(:last-of-type)::before {
					content: "";
					position: absolute;
					top: 0;
					right: -120%;
					right: calc(-100% - 0.5em);

					width: 100%;
					height: 100%;
					background: url($stepsArrowUrl) center / 30% no-repeat;
				}

				&:last-of-type {
					margin-right: 0;
				}

				&.sword {
					border-color: transparent;
				}

				&__border {
					position: absolute;
					top: -14.5%;
					right: -14.5%;

					width: 40%;
					height: 40%;

					border-top: 2px solid $tertiary;
					border-right: 2px solid $tertiary;
					transition: transform 0.15s;

					&::before {
						content: "";
						position: absolute;
						bottom: -240%;
						left: -240%;

						width: 100%;
						height: 100%;

						border-bottom: 2px solid $tertiary;
						border-left: 2px solid $tertiary;
					}
				}
			}
		}
	}
}
