@use "../abstracts/variables";

.title,
.desc {
	color: $primary-text;
}

/* Component Title */
.title {
	font-size: $bigFontSize;
	text-transform: uppercase;

	&.medium {
		font-size: $mediumFontSize;
	}
}

/* Component Description */
.desc {
	font-size: $mediumFontSize;
}

/* Component Button */
.button {
	display: inline-block;
	padding: 0.85em 1.5em;

	color: $primary-text;
	font-size: $smallFontSize;
	font-weight: 500;
	text-transform: uppercase;
	background-color: $secondary;

	border-radius: 2.5px;
	transition: background-color 0.15s;

	&:hover {
		background-color: $secondary-600;
	}
}

button.button {
	border: none;
	outline: none;
	cursor: pointer;

	&:focus {
		outline: 2px solid $primary;
	}
}

a.button {
	text-decoration: none;
}
