html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

img {
	max-width: 100%;

	&[alt] {
		color: $primary-text;
	}
}

a {
	text-decoration: none;
}
